<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130240797307-usr07mto1fa52fv23aosif81dktgahq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130240797307-usr07mto1fa52fv23aosif81dktgahq0</string>
	<key>API_KEY</key>
	<string>AIzaSyDBCmsVtvL3rx9Bs-SEa0-x_tpLRNcU8gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>130240797307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartfarmer</string>
	<key>PROJECT_ID</key>
	<string>smart-farmer-1daec</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-farmer-1daec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130240797307:ios:80bed3a88a9d8f15b0a0de</string>
	<key>DATABASE_URL</key>
	<string>https://smart-farmer-1daec.firebaseio.com</string>
</dict>
</plist>